<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UC45_User_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UC45_User_Interface.Properties.Settings>
            <setting name="Vapp" serializeAs="String">
                <value>0.000000</value>
            </setting>
            <setting name="Kp" serializeAs="String">
                <value>0.100000</value>
            </setting>
            <setting name="Ki" serializeAs="String">
                <value>0.000000</value>
            </setting>
            <setting name="Kd" serializeAs="String">
                <value>0.000000</value>
            </setting>
            <setting name="filterType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cutOff1" serializeAs="String">
                <value>100.000000</value>
            </setting>
            <setting name="cutOff2" serializeAs="String">
                <value>1000.000000</value>
            </setting>
            <setting name="Vmin" serializeAs="String">
                <value>-1.000000</value>
            </setting>
            <setting name="Vmax" serializeAs="String">
                <value>7.500000</value>
            </setting>
            <setting name="deltaS" serializeAs="String">
                <value>1.000000</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inverse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Z" serializeAs="String">
                <value>0.000000</value>
            </setting>
            <setting name="Enable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Piezo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Alpha" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="Betha" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="hysteresis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressThres" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempCon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempThres" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempGrad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppSpeed" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="GageCo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VoltInc" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="PosInc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RetSpeed" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="PathtoSave" serializeAs="String">
                <value>D:\ExperimentData</value>
            </setting>
            <setting name="GageChan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ang" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="micros" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="motorspeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="motormax" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="motpos" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="GageCo0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="holdDur" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="forceCo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xenc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="yenc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tipName" serializeAs="String">
                <value>Cone</value>
            </setting>
            <setting name="sampleName" serializeAs="String">
                <value>Fused Silica</value>
            </setting>
            <setting name="procedureName" serializeAs="String">
                <value>1 Location Depth Sweep</value>
            </setting>
            <setting name="xPoz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yPoz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DaqRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="loadCoef" serializeAs="String">
                <value>1</value>
            </setting>
        </UC45_User_Interface.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>